@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-theme: #27668c;
$secondary-theme: #ffd984;
$tint-theme: #fff6de;

// Base Container Start
.workspace-container {
   @apply fixed h-full w-full overflow-hidden;

   .canvas {
      @apply absolute overflow-hidden w-[414px] h-screen bg-[#FFF6DE];
   }
}
// Base Container End

// Base Wave Start
.padding-wave {
   @apply pt-[80px] pb-[75px];

   &:has(.wp-image-without-padding) {
      @apply pb-[51px];
   }
}

.wp-wave-frame {
   .frame-wave-top {
      position: absolute;
      top: 0;
      z-index: 20;
   }

   .frame-wave-bottom {
      position: absolute;
      bottom: 0;
      z-index: 20;
   }

   .frame-bg-tr {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
   }

   .frame-bg-bl {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
   }
}

section {
   &.section-content-scroll-padding {
      &:first-child {
         @apply pt-0;
      }

      &:last-child {
         @apply h-auto pt-0;
      }

      @apply h-screen pt-[80px] pb-[75px];
   }
}
// Base Wave End

// Home Page Start
.frame-landing-page {
   @apply flex flex-col justify-evenly h-full py-8 md:py-14 2xl:py-[70px];

   .wp-image-landing-page {
      @apply flex justify-center items-center;

      img {
         @apply object-cover object-center bg-white rounded-[40px] border border-gray-300 shadow-2xl;
      }
   }
}
// Home Page End

// Custom Style Page Start
.custom-border-card-dashed {
   background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='%2327668CFF' stroke-width='3' stroke-dasharray='10' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
   border-radius: 18px;
   background-position: center;
   background-size: contain;
}

.theme-switch-wrapper {
   display: flex;
   align-items: center;

   .theme-switch {
      display: inline-block;
      height: 36px;
      position: relative;
      width: 91px;
      cursor: pointer;

      input {
         display: none;
      }

      .slider {
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         top: 0;
         transition: 0.4s;
         background-color: $secondary-theme;
         border: 3px solid $primary-theme;
         box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);

         &.round {
            border-radius: 34px;

            &::before {
               border-radius: 50%;
            }
         }

         &::before {
            content: '';
            position: absolute;
            left: 3px;
            top: 50%;
            transform: translateY(-50%);
            height: 26px;
            width: 26px;
            transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            background-color: #fff;
         }
      }
   }
}

.theme-switch input:not(:checked) + .slider + .text::before,
.theme-switch input:checked + .slider + .text::before {
   position: absolute;
   transform: translateY(-50%);
   top: 50%;
   font-weight: 600;
   line-height: 1;
   text-transform: uppercase;
}

.theme-switch input:not(:checked) + .slider + .text::before {
   content: attr(data-unchecked);
   left: 9px;
   font-size: 0.75rem;
   color: $primary-theme;
   width: 50px;
}

.theme-switch input:checked + .slider + .text::before {
   content: attr(data-checked);
   right: 11px;
   font-size: 0.875rem;
   color: #fff;
}

.theme-switch input:checked + .slider {
   background-color: $primary-theme;
   border: 3px solid #fff;
}

.theme-switch input:not(:checked) + .slider:before {
   transform: translate(52px, -50%);
}

.wp-card-gift {
   padding-left: 1.25rem;

   .card-gift {
      @apply card border-[5px] border-primary rounded-[26px] p-6;

      background-image: linear-gradient(
         130deg,
         rgba(255, 255, 255, 1) 0%,
         rgba(255, 246, 222, 1) 100%
      );
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.16);
      transform: perspective(450px) rotateY(12deg) rotateX(4deg);
   }
}

.wp-direction {
   .card {
      @apply mb-4;
   }
}
// Custom Style Page End

@import 'typography';
@import 'form';
