@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-theme: #27668c;
$secondary-theme: #ffd984;
$tint-theme: #fff6de;

// Base Container Start
.workspace-container {
   @apply fixed h-full w-full overflow-hidden;

   .canvas {
      @apply absolute overflow-hidden w-[414px] h-screen bg-[#FFF6DE];
   }
}
// Base Container End

// Base Wave Start
.padding-wave {
   @apply pt-[80px] pb-[75px];
}

.wp-wave-frame {
   .frame-wave-top {
      position: absolute;
      top: 0;
      z-index: 20;
   }

   .frame-wave-bottom {
      position: absolute;
      bottom: 0;
      z-index: 20;
   }

   .frame-bg-tr {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
   }

   .frame-bg-bl {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
   }
}

section {
   &.section-content-scroll-padding {
      &:first-child {
         @apply pt-0;
      }

      @apply h-screen pt-[80px] pb-[75px];
   }
}

// Base Wave End

// Home Page Start
.frame-landing-page {
   @apply flex flex-col justify-evenly h-full py-8 md:py-14 2xl:py-[70px];

   .wp-image-landing-page {
      @apply flex justify-center items-center;

      img {
         @apply object-cover object-center bg-white rounded-[40px] border border-gray-300 shadow-2xl;
      }
   }
}
// Home Page End

.custom-border-card-dashed {
   background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='%2327668CFF' stroke-width='3' stroke-dasharray='10' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
   border-radius: 18px;
   background-position: center;
   background-size: contain;
}

.wp-direction {
   .card {
      @apply mb-4;
   }
}

@import 'typography';
@import 'form';
